.leagueCard{
    background-color: rgb(216, 216, 216);
    width: 320px;
    margin: 15px;
    float: left;
    padding-right: 0;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(19, 71, 14);
    
}
.leagueCard img{
    padding: 15px;
    width: 300px;
    height: 280px;
}
.leagueName{
    padding: 25px;
}
.homeBackground{
    background-color: black;
}
.explore-btn{
    background-color: #0E0A2A;
}